.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.d-flex-full {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-j {
  display: flex;
  justify-content: center;
}

.d-flex-a {
  display: flex;
  align-items: center;
}
